*.o
*.lo
*.la
.deps
.dirstamp
.libs
config.*
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
configure
depcomp
e-module-compiz.edj
e_modules-compiz.spec
install-sh
libtool
ltmain.sh
missing
module.desktop
stamp-h1

